<div class="container">
    <table class="table table-bordered table-inverse table-sm">
        <thead class="thead-inverse">
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Apellidos</td>
                <td>Ciudad</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ alumno1.id }}</td>
                <td>{{ alumno1.nombre }}</td>
                <td>{{ alumno1.apellidos}}</td>
                <td>{{ alumno1.ciudad }}</td>
            </tr>
        </tbody>
    </table>
</div>